@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
  background: linear-gradient(
    -60deg,
    #565c5e,
    #455954,
    #9d7463,
    #b5c2c7,
    #afd275
  );
  //   background-color: #afd275 !important;
  background-size: 400% 400%;
  animation: gradientBG 20s ease infinite;
}

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.profile-pic {
  box-shadow: inset 12px 12px 15px 0 rgba(0, 0, 0, 1),
    inset -12px -12px 15px 0 rgba(0, 0, 0, 1);
}

.btn {
  margin: 5px !important;
  //   box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
  //     -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
  overflow: hidden;
  display: flex;

  &:hover {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  }

  &.btn-dark {
    box-shadow: unset;

    &:hover {
      border: 0;
      box-shadow: inset 6px 6px 5px 0 rgba(0, 0, 0, 0.2),
        inset -6px -6px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
